:root {
  --blue-color: #2196f3;
  --grey-color: #757575;
  --black-color: #212121;
  --white-color: #ffff;
  --dark-blue-color: #2f303a;
}
body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: calc(24 / 14);
  color: var(--black-color);
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid var(--dark-blue-color);
}
/* header */
.header {
}
/* hero  */
.hero {
  background-color: var(--dark-blue-color);
  text-align: center;
  height: 600px;
  width: 1600px;
  margin: 0 auto;
}
.hero-button {
  width: 216px;
  height: 50px;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-size: 16px;
  line-height: calc(30 / 16);
}

.header-nav-item,
.footer-logo {
  line-height: 31px;
}

.header-list-link {
  line-height: 16.41px;
  color: var(--blue-color);
}
.portfolio-button {
  line-height: calc(26 / 14);
}

.photos-title,
.portfolio-title {
  line-height: 36px;
}

.hero-title {
  line-height: 60px;
  color: var(--white-color);
}

.list-title {
  line-height: 16.41px;
}
.photos-text {
  line-height: 18px;
}
.header-web {
  color: var(--blue-color);
  line-height: 30.52px;
}

.advatages-item {
  color: var(--grey-color);
  font-weight: 400;
  line-height: inherit;
}
.photos-text-subtext {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
}
.footer-web {
  color: var(--blue-color);
}

.footer-text {
  color: var(--white-color);
  font-weight: 400;
  font-family: Raleway;
  line-height: inherit;
}
.footer-logo {
  color: var(--white-color);
  line-height: 30.52px;
  font-family: Raleway;
  font-weight: 700;
}
.footer-email,
.footer-number {
  color: var(--grey-color);
  line-height: inherit;
}
.portfolio-button:first-child {
  background-color: var(--blue-color);
  color: var(--white-color);
}
.list-link-item:nth-child(2n) {
  color: var(--blue-color);
}
.portfolio-text {
  color: var(--grey-color);
  line-height: 30px;
}
.portfolio-subtitle {
  color: inherit;
  line-height: 36px;
  font-size: 18px;
}

/* footer */
.footer {
  width: 1600px;
  height: 252px;
  background-color: var(--dark-blue-color);
  margin: 0 auto;
}

.team,
.photos,
.portfolio,
.header {
  margin-bottom: 94px;
}
.advatages {
  margin-bottom: 118px;
}
